<!DOCTYPE html>

<html lang="es-cl" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!--Meta, start-->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="keywords" content="@(ViewData["Keywords"] as string)" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--Meta, end-->

        <!--Bootstrap, start-->
        <link href="~/lib/bootstrap/css/bootstrap.min.css" integrity="" lang="en" rel="stylesheet" type="text/css" />
        <script charset="utf-8" crossorigin="use-credentials" defer integrity="" lang="en" src="~/lib/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
        <!--Bootstrap, end-->

        <!--Font Awesome, start-->
        <link href="~/lib/font-awesome/css/all.min.css" integrity="" lang="en" rel="stylesheet" type="text/css" />
        <script charset="utf-8" crossorigin="use-credentials" defer integrity="" lang="en" src="~/lib/font-awesome/js/all.min.js" type="text/javascript"></script>
        <!--Font Awesome, end-->

        <!--Title, start-->
        <title>
            @(Environment.GetEnvironmentVariable(variable: "WEBSITE_NAME")) | @(ViewData["Title"] as string)
        </title>
        <!--Title, end-->
    </head>
    <body>
        @await Html.PartialAsync(
            partialViewName: "~/Views/Shared/Partial/_NavBar.cshtml"
        )

        <main role="main">
            @RenderBody()
        </main>
    </body>
</html>